footer {
    .contacts, .locations {
        h3 {
            font: $h3-font;
            letter-spacing: 0.06em;
            color: $color-light;
            margin: 0 0 40px;
        }
        a, p {
            &:hover{
                color: $color-primary-light;
            }
            &:last-of-type{
                margin-bottom: 0;
            }
            img {
                margin-right: 20px;
            }
            text-decoration: none;
            font: $h4-font;
            letter-spacing: 0.06em;
            color: $color-primary;
            display: flex;
            align-items: center;
            margin: 0 0 40px;
        }
        display: flex;
        flex-direction: column;
    }
    .contacts {
        width: 280px;
    }
    .locations {
        h3, a {
            margin-bottom: 34px;
        }
        width: 300px;
    }
    @extend %section;
    padding-top: 56px;
    padding-bottom: 60px;
    background: bottom right 40px no-repeat url(../assets/img/footer-puppy.png);
    display: flex;
    gap: 160px;

    @media screen and (max-width: 1279px) {
        padding: 30px 30px 375px;
        background-position: bottom center;
        gap: 60px;
        justify-content: center;

    }

    @media screen and (max-width: 767px) {
        .contacts, .locations {
            h3 {
                font: $h3-mobile;
                text-align: center;
                padding: 0 10px;
            }
            align-items: center;
        }
        .locations {
            h3, a {
                margin-bottom: 38px;
            }
            a:last-of-type {
                align-self: flex-start;
            }
        }
        padding: 30px 10px 310px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        background-size: 260px;
    }
}