.help-list-card {
    p {
        margin: 0;
        font: $h4-font;
        letter-spacing: 0.06em;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    @media screen and (max-width: 767px) {
        p {
            font: $h5-font;
        }
        img {
            height: 50px;
        }
        gap: 20px;
    }
}